@font-face {
  font-family: "Bahnschrift";
  src: url("/fonts/bahnschrift.eot"); /* IE9 Compat Modes */
  src: url("/fonts/bahnschrift.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/bahnschrift.otf") format("opentype"), /* Open Type Font */
    url("/fonts/bahnschrift.svg") format("svg"), /* Legacy iOS */
    url("/fonts/bahnschrift.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/bahnschrift.woff") format("woff"), /* Modern Browsers */
    url("/fonts/bahnschrift.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}


#navigation {
  width: 200px;
  height: 500px;
  
  float: left;
  list-style-type: none;
}
  #navigation ul {
      font-size: 25px;
      text-align: left;
      
  }
header, nav, footer, aside, section {
  display: block;
  
}
header {
  
  
  background-image: url(bilder/head3.png);
text-align: right


}

body {
  
  font-family: Bahnschrift;
  background-image: url(../bilder/default.png);
  background-attachment: fixed;
  background-size: 100% 100%;
  
}

h1 {
color: white;
font-family: 'Bahnschrift';
font-size:50px;

}

aside {
  
  width: 175px;
  float: right;
}
section {
 
  margin-left: 200px;
  margin-right: 175px;
  text-align: center
}

#wrapper {
  background-image: url(../bilder/hintergrund-inhalt.png);
  width: 900px;
  
  margin: 0 auto;    
  text-align: left
}

details {
 width: 150px;
 text-align: left;
}

footer {
  color: white;
  clear: both;
  background-image: url(bilder/durchsichtiges-grau.png);
  text-align: center;
  height: 1.5em;
  line-height: 1.5em;
}

a[href="spiel.html"] {
  background: url(/bilder/extern-link.gif) no-repeat;
  padding-left: 20px;
}


table.GeneratedTable {
  width:100%;
  background-color:#FFFFFF;
  border-collapse:collapse;border-width:1px;
  border-color:#336600;
  border-style:solid;
  color:#009900;
  }
  
  table.GeneratedTable td, table.GeneratedTable th {
  border-width:1px;
  border-color:#336600;
  border-style:solid;
  padding:3px;
  }
  
  table.GeneratedTable thead {
  background-color:#CCFF99;
  }

#bilder {
  margin-right: 500px;
}
